:host {
  flex: 1;
}

.saved-reports {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.saved-reports__list {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  flex: 1;
}

:host ::ng-deep .list__item-header .mat-content {
  gap: 1em;
}

:host ::ng-deep .cdk-drag-placeholder {
  height: 60px;
}

.list__item-content {
  grid-template-columns: 1fr;
}
