@use '@angular/material' as mat;

:host {
  display: block;
  min-height: 0;
  overflow: auto;
}

.report-table__row[data-agent] {
  background-color: var(--mat-sys-inverse-primary)
}

.row__more-info {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.report-table__row-placeholder {
  height: 48px;
}
