.info-card {
  container: card / inline-size;
}

.info-list {
  padding: 0 0.5em;
  width: fit-content;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: auto auto auto;

  @container card (width < 250px) {
    grid-template-columns: auto auto;
  }
}

:host ::ng-deep .info-list-item {
  padding: 0;
}
