.info-card {
}

.info-list {
  padding: 0 0.5em;
  width: fit-content;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: auto auto auto;

  @media (max-width: 860px) {
    grid-template-columns: auto auto;
  }

}

:host ::ng-deep .info-list-item {
  padding: 0;
}
