@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

*, :after, :before {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; }

button {
  background: unset;
  border: none;
}

.drag-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
